<div id="utama" class="col-md-12">
  <md-list>
    <div class="col-md-6" *ngFor ="let items of pagedItems">
      <md-list-item >
        <img md-list-avatar src= {{items.img}} alt="...">
        <h3 md-line><b>{{items.name}}</b></h3>
        <p md-line>
          <span>{{items.count}}</span>
        </p>
      </md-list-item>
    </div>
  </md-list>
  <div class="col-md-12 ">
        <div class="pull-right">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Prev</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
            </ul>
        </div>

    </div>
</div>