md-list-item{
    border: 1px ;
    border-style: outset;
    margin: 2px 2px 2px 2px;
    margin-left: -13px;
    margin-right: -13px;
}
md-list-item:hover {
    background:#6db3ef !important;
    cursor: pointer ;
    color: #ffffff !important;
}